*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  cursor: default;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  color: black;
}

body * {
  width: 100vw;
}

body *:nth-child(odd) {
  border: 2px solid black;
}
body *:nth-child(even) {
  border: 2px solid red;
}

body {
  scrollbar-width: thin; /* Per Firefox */
  scrollbar-color: transparent transparent; /* Per Firefox */
  /* overflow-y: scroll; */
}

::-webkit-scrollbar {
  width: 0px; /*Imposta la larghezza desiderata per la barra di scorrimento*/
  height: 0px; /*Imposta l'altezza desiderata per la barra di scorrimento*/
}
::-webkit-scrollbar-thumb {
  background-color: transparent; /* Rendi il pollice della barra di scorrimento trasparente */
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.main > * {
  height: 100vh;
}

.languages{
  display:flex;
  flex-direction: column;

  align-items: center;
}

ul {
  display:flex;
  flex-flow: row wrap;

  justify-content: center;
  align-items: center;

  list-style-type: none;
}

li {
  margin: 40px;

  width: 150px;
  height: 150px;
}

header {
}

.myInfo {
  position: absolute;
  /* top:0; */
  /* left:0; */
}

video {
  width: 100%;
  height: 100%;
}
